files:
  "/tmp/artisan_scheduler":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /usr/bin/php /var/app/current/artisan schedule:run 1>> /dev/null 2>&1
    encoding: plain

container_commands:
  move_cron:
    command: "mv /tmp/artisan_scheduler /etc/cron.d/artisan_scheduler"
