# Here you can define custom parameters for the created AWS resources.
# Each resource will contain details from the docs.

# For more details regarding other resources,
# check the following link: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-format-resources-eb.html

Resources:
  # Available Properties: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-group.html
  # [Property] Capacity Rebalacing: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-group.html
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      Tags: [{ "Key": "Laravel", "PropagateAtLaunch": True, "Value": "Yes" }]
      # CapacityRebalance: True

  # Classic Load Balancer: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-elb.html
  # AWSEBLoadBalancer:
  #   Type: "AWS::ElasticLoadBalancing::LoadBalancer"
  #   Properties:
  #     Tags: [{ "Key": "Laravel", "Value": "Yes" }]

  # Application Load Balancer: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-loadbalancer.html
  # AWSEBV2LoadBalancer:
  #   Type: "AWS::ElasticLoadBalancingV2::LoadBalancer"
  #   Properties:
  #     Tags: [{ "Key": "Laravel", "Value": "Yes" }]
