commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_01_rerun_caches.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      php /var/app/current/artisan config:cache
      php /var/app/current/artisan route:cache
      php /var/app/current/artisan view:cache
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_01_restart_supervisord.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      sudo /usr/local/bin/supervisorctl restart all
