# Here you can pass references from the stack into the $_SERVER variable. This is useful
# when you need to know within your code certain parameters handled by AWS, like the Region name.
# Uncomment to enable. Check docs here, under "Software setting namespaces": https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environments-cfg-softwaresettings.html

#option_settings:
#  aws:elasticbeanstalk:application:environment:
#    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
