commands:
  01_update_composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
  02_install_npm:
    command: |
      sudo yum remove -y nodejs npm
      sudo rm -fr /var/cache/yum/*
      sudo yum clean all
      curl --silent --location https://rpm.nodesource.com/setup_12.x | sudo bash -
      sudo yum install nodejs -y
      # sudo npm install -g npm@6.13.7
    ignoreErrors: true

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 512M

  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: composer_options
    value: --no-dev --no-interaction --prefer-dist --optimize-autoloader

container_commands:
  00_01_move_environment_file:
    command: "mv /tmp/.env /var/app/ondeck/.env"
  01_01_composer_install:
    command: "php /opt/elasticbeanstalk/support/composer.phar install"
    cwd: "/var/app/ondeck"
  01_02_npm:
    command: |
      sudo npm install
      sudo npm run prod
    cwd: "/var/app/ondeck"
    ignoreErrors: true
  02_01_storage_link:
    command: "php artisan storage:link"
    cwd: "/var/app/ondeck"
  03_01_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
    leader_only: true
  04_01_fix_permissions:
    command: "chmod 777 -R /var/app/ondeck"
    cwd: "/var/app/ondeck"
