option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  # Point the app root to the public/ folder.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  # Set here your php.ini `memory_limit` value.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 256M

container_commands:
  00_copy_env_file:
    command: "mv /tmp/.env /var/app/staging/.env"

  01_install_composer_dependencies:
    command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/staging"

  02_install_node_dependencies:
    command: "sudo npm install"
    cwd: "/var/app/staging"

  03_build_node_assets:
    command: "sudo npm run prod"
    cwd: "/var/app/staging"

  04_run_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/staging"
    leader_only: true
